[2016-10-24 20:28] NickNaso opened #1 "Documentation reference for Ghostscript C API"
Here all the references for Ghostscript C API:

http://www.ghostscript.com/doc/current/API.htm

[2016-10-24 20:31] NickNaso opened #2 "Create version method"
Create the version method that have the responsability to check the actual version of ghostscript. It's important to be sure that the correct version of the ghostsctipt library is loaded.

Base the code as in the reference manual:

[code]

[2016-10-25 00:24] NickNaso opened #3 "Compilation error"
To use the Ghostscript C API you need to compile with **lgs** options as reported below:

[code]

Please refer to this example to successfully compile for different platform:
- [X11/Linux](http://www.ghostscript.com/doc/psi/dxmain.c)
- [Windows](http://www.ghostscript.com/doc/psi/dwmain.c)
- [OSX](http://www.ghostscript.com/doc/psi/dmmain.c)
- [OS2](http://www.ghostscript.com/doc/psi/dpmain.c)

[2016-10-25 00:25] NickNaso commented on #2
Please see the issue https://github.com/NickNaso/ghostscript4js/issues/3 to avoid the compilation error.

[2016-10-25 00:42] NickNaso commented on #2
# Example for C implementation
[code]

[2016-10-25 00:43] NickNaso commented on #2
Example for C++ implementation

[code]

[2016-12-25 11:02] NickNaso opened #4 "Compiler parameter for Unix"
Here all the compiler parameter for Unix system those will be set in binding.gyp

[2016-12-25 11:03] NickNaso opened #5 "Compiler parameter for OSX"
Here all the compiler parameter for OSX system those will be set in binding.gyp

[2016-12-25 11:04] NickNaso opened #6 "Compiler parameter for WIndows"
Here all the compiler parameter for Windows system those will be set in binding.gyp

[2017-01-22 21:40] NickNaso opened #7 "Possible handle multithread"
Is it possible to build a multithread system to handle the instance of Ghostscript?

[2017-01-22 22:10] NickNaso commented on #1
This is what say Ghostscript documentation

Historically, Ghostscript has only supported a single instance; any attempt to create more than one at a time would result in gsapi_new_instance returning an error. Experimental work has been done to lift this restriction; if Ghostscript is compiled with the GS_THREADSAFE define then multiple concurrent instances are permitted.
While the core Ghostscript

[2017-01-22 22:11] NickNaso commented on #7
This is what say Ghostscript documentation

Historically, Ghostscript has only supported a single instance; any attempt to create more than one at a time would result in gsapi_new_instance returning an error. Experimental work has been done to lift this restriction; if Ghostscript is compiled with the GS_THREADSAFE define then multiple concurrent instances are permitted.
While the core Ghostscript

[2017-01-23 22:54] #7 closed

[2017-01-23 22:59] NickNaso commented on #2
It will return an bjet like this:
[code]

[2017-01-25 23:39] NickNaso commented on #2
Method version implemented

[2017-01-25 23:39] #2 closed

[2017-01-25 23:46] NickNaso opened #8 "Create executeSync method"
Create the executeSync method that have the responsability to parse and execute the ghostscript command.

[code]
It's necessary to implement the Javascript and C++ binding for the method.

Use Nan:ThrowError to dispatch errors.

[2017-01-27 03:34] NickNaso commented on #8
Added function library to best redirect stdio when use Ghostscript [https://github.com/NickNaso/ghostscript4js/blob/master/src/ghostscript.c](https://github.com/NickNaso/ghostscript4js/blob/master/src/ghostscript.c)

[2017-01-31 04:33] NickNaso commented on #8
Mehtod executeSync implemented as specified.

[2017-01-31 04:33] #8 closed

[2017-01-31 04:58] NickNaso opened #9 "Create execute method"
Create the execute method that has the responsability to parse and execute the ghostscript command in asynchrnous way.

``` function execute(GhostscriptCommend, callback) {}```

It's necessary to implement the Javascript and C++ binding for the method.

Use Nan:ThrowError to dispatch errors.

[2017-01-31 05:41] NickNaso commented on #9
For implementation see at these resources:
https://github.com/nodejs/nan/tree/master/examples/async_pi_estimate
https://nodejs.org/dist/latest-v7.x/docs/api/addons.html#addons_callbacks
https://github.com/nodejs/node-addon-examples/blob/master/3_callbacks/nan/addon.cc
https://github.com/fcanas/node-native-boilerplate/blob/master/functions.cc

[2017-02-02 00:40] NickNaso commented on #9
Async method implemented with Nan support to be compatible with all Node.JS version after v0.12.

[2017-02-02 00:40] #9 closed

[2017-02-02 00:41] NickNaso commented on #1
All features implemented in module are strictly based on the posted documentation.

[2017-02-02 00:41] #1 closed

[2017-02-02 00:42] NickNaso commented on #3
All problem have been solved

[2017-02-02 00:42] #3 closed

[2017-02-20 07:20] NickNaso commented on #6
Done see binding.gyp and gs4js-home.js

[2017-02-20 07:20] #6 closed

[2017-02-20 07:20] NickNaso commented on #5
Done see binding.gyp

[2017-02-20 07:20] #5 closed

[2017-02-20 07:20] NickNaso commented on #4
Done see binding.gyp

[2017-02-20 07:20] #4 closed

[2017-02-20 07:21] NickNaso opened #10 "Update documentation"
Adde section where explain installation and installation parameters.

[2017-02-20 22:00] #10 closed

[2017-02-28 09:20] mauro-d opened #12 "Performance tests"
To implement comparison tests to show performace differences between other solutions.

[2017-03-01 00:22] NickNaso opened #13 "Problem starting test on windows"
An error issued trying to start test suite from Windows OS
```Error: node_modules is not comand ...```
On Linux and macOS this problem never happened.

[2017-03-03 01:36] NickNaso commented on #13
Reported bug fixed and now test suite start also in WIndows OS

[2017-03-03 01:36] #13 closed

[2017-03-11 01:55] NickNaso opened #14 "Installation problem"
Error in installing module
```gyp: binding.gyp not found ... binding.gyp```

[2017-03-11 02:35] NickNaso commented on #14
Solved adding **binding.gyp** on files section in package.json

[2017-03-11 02:35] #14 closed

[2017-03-13 19:53] NickNaso opened #15 "Problem calling execute method multiple time consecutively"
The module raise a problem calling async execute method multiple times as reported below:
[code]

[2017-04-04 17:15] NickNaso commented on #15
It will be solved in version 2.0 of the module. It will be released in two weeks.

[2017-04-05 14:34] jdziat opened #16 "Invalid file path"
When building on windows i found that the file:
g4js-home.js
should be named
gs4js-env-home.js

see the binding file snippet below:
` ['OS=="win"', {
          "conditions": [
            ['target_arch=="x64"', {
              "variables": {
                "GS4JS_HOME%": "<!(node gs4js-env-home.js)",
                "GS4JS_LIB%": "gsdll64.lib",
                "GS4JS_DLL%": "gsdll64.dll",

[2017-04-05 22:35] NickNaso commented on #16
Hi @jdziat,
thank you for your report. Now the installation work fine also on windows. I changed the name of the script that retrieve the environment variable in windows system. All is published on npm with version 1.0.19.

[2017-04-05 22:35] #16 closed

[2017-04-06 18:06] NickNaso commented on #12
It will be implemented in version 2.0 of the module. It will be released in two weeks.

[2017-04-10 08:39] rmeja commented on #15
It's not a bug but a feature :wink:
https://ghostscript.com/doc/current/API.htm#new_instance

[2017-04-18 20:58] NickNaso commented on #12
Hust creartene specific repo https://github.com/NickNaso/ghostscript4js-perf where we can experiment with performance of the module.

[2017-04-18 20:58] #12 closed

[2017-04-18 22:31] NickNaso opened #18 "Warning on Microsoft compiler"
Microsoft compiler give a warning:
``
..\src\ghostscript4js.cc(166): warning C4530: C++ exception handler used, but unwind semantics are not enabled. Specify /EHsc [C:\Users\nicknaso\Desktop\prova\node_modules\ghostscript4js\bui
ld\ghostscript4js.vcxproj]
``
Need to investigate and fix the warning.

[2017-04-18 22:33] NickNaso commented on #15
Refactor on version 2.0.0 solved the issue

[2017-04-18 22:33] #15 closed

[2017-04-18 23:06] NickNaso commented on #18
To solve the problem it is necessary to add this compiler options for windows on **binding.gyp**
[code]

[2017-04-18 23:22] #18 closed

[2017-04-23 19:20] NickNaso opened #19 "Ghostscript documentation"
Add reference to Ghostscript documentation, maybe if it is possible integrate it.

[2017-04-23 19:23] NickNaso opened #20 "Check command in JS env"
Evaluate the possibility to check the string on the JavaScript environment and not in the C++ so the module  throw an exception before to call native code.

[2017-05-27 15:44] NickNaso commented on #20
After some discussions and study about Native addons the right solution is to check on the c++ code. I

[2017-05-27 15:44] #20 closed

[2017-05-27 15:46] NickNaso commented on #19
Done

[2017-05-27 15:46] #19 closed

[2017-06-17 09:04] manuschiller opened #21 "Conversion to PDF/A fails without error message"
I need to convert a pdf to pdf/a.

Therefore I tried to execute GS with the following script:

[code]

this creates the file `my-pdf-a.pdf`, but it is actually not converted to PDF/A.

If I run the exact same command on the same input pdf on the shell like
`gs -dPDFA -dBATCH -dNOPAUSE -dUseCIEColor -sProcessColorModel=DeviceCMYK -sDEVICE=pdfwrite -sPDFACompatibilityPolicy=1 -sOutputFile=my-pdfa.pd

[2017-06-17 09:58] NickNaso commented on #21
Hi @manuschiller ,
could you report information about your system?
Ghostscript version
Node.js version
Operanting System

[2017-06-18 11:10] NickNaso commented on #21
Tested on Ghostscript 9.19 - 9.20 - 9.21 and Node.js v 7.x and 8.x all worked fine. My advice is to remove  **```-dUseCIEColor```** option, it's not used from Ghostscript version 9.11.

[2017-06-18 11:10] #21 closed

[2017-08-31 16:27] cbogwill opened #23 "GS4JS_LIB variable isn't used"
I'm installing into a docker image.

The installation of ghostscript does not have a 'libgs.so', it has:
[code]

I tried overriding it but it did not work:
[code]

Looking at the code in binding.gyp, line 15, it is hard-coded, and not respecting the parameter provided.
It should look like:
[code]

[2017-09-01 01:12] NickNaso commented on #23
Hi @cbogwill ,
thanks for your reporting. I just provide to change the handling of ```**GS4JS_LIB**``` variable. I tested on Linux - Windows and macOs all seems to be fine. Please inform me in case you continue to experiment some kind of problem.
I published a new version of the addon: v2.0.5 that solve the problem.

[2017-09-01 01:12] #23 closed

[2017-09-02 13:55] dvoch opened #24 "Issue with the new update ghostscript4js@2.0.5"
Hi, I tried to run npm update today and when running the update of ghostscript4js I have this issue:

Error: Cannot find module 'C:\Tools\EB\back\node_modules\ghostscript4js\gs4js-env-dll.js'
...
gyp: Call to 'node gs4js-env-dll.js' returned exit status 1 while in binding.gyp. while trying to load binding.gyp

Anyone encountered this issue?
Thanks for any helps!
Regards
D.

I posted before on the

[2017-09-02 14:26] NickNaso commented on #24
Hi @dvoch ,
I just provided to solve the problem. Unfortunately I forgot to update the ```files``` section on **package.json** file. Now the problem has been fixed and I published the new release 2.0.7.
Please try the new version end in case you continue to experiment some troubles don't hesitate to contact us.

[2017-09-02 14:26] #24 closed

[2017-09-20 15:20] will3942 opened #25 "symbol lookup error: gsapi_set_arg_encoding"
I can `npm install` fine with `npm install ghostscript4js --GS4JS_HOME="/usr/lib"` however when try to actually execute GS I get the following error.

This is on Debian using Docker.

node: symbol lookup error: /usr/lib/node_modules/ghostscript4js/build/Release/ghostscript4js.node: undefined symbol: gsapi_set_arg_encoding

[code]

Libraries are there and I installed everything using `apt-get -y in

[2017-09-20 15:51] NickNaso commented on #25
Hi @will3942,
it seems that you are using Ghostscript version 9.06 and for now ghostscript4js only supports versions from 9.19 to 9.21. I had same problem on my linux local machine. The API has been changed so I chose to stay compatible with the modern API.
What you can try to do is to install new Ghostscript version.

[2017-09-20 16:45] NickNaso commented on #25
Please keep me updated.

[2017-09-20 21:36] will3942 commented on #25
Correct, this fixed it at least on Ubuntu. On Debian however I think the issue was that some libs (`libgs.so`) were installed to `/usr/lib` but `libgss*` were installed to `/usr/lib/linux-x86...`, on Ubuntu all libs were installed to the latter directory.

[2017-10-11 09:56] santillaner opened #26 "Is it possible to pass a stream and receive a stream?"
Current API seems to allow only for using filesystem for I/O. I am currently spawning GS with child_process.spawn and piping files in & out, like in:
`gs -q -sstdout=/dev/null -dBATCH -dNOPAUSE -sDEVICE=pdfwrite -sOutputFile=- -c .setpdfwrite  -`

¿Is there a way to use streaming?

thnx!

[2017-10-11 10:11] NickNaso commented on #26
Hi @santillaner,
You are right at the time you can only pass the Ghostscript command that use the path of the file. This is a limitation of the high level C API of Ghostscript.
Anyway your proposal is very interesting so please if you have time could you post some usage examples?
For the next major version was my intention use the buffer as input, but maybe we can integrate the stream api.
Nick

[2017-10-11 10:17] santillaner commented on #26
We currently use GS, and our usage pattern is:
[code]

[2017-10-11 10:34] NickNaso commented on #26
Ok thanks for your reply. I think that the update will take some times, so when all is complete I will close the issue.

[2017-10-24 01:23] NickNaso opened #27 "Ghostscript 9.22"
Check if the addon is compatible with the new version of Ghostscript and update the maximum version on the code and on the documentation

[2017-10-27 02:26] 03eltond commented on #25
We just ran into this too, on Debian.  We tried copying `usr/lib/x86_64-linux-gnu/libgss*` to `/usr/lib`, but that didn't work.  Turns out, @NickNaso is correct, there's no way this can work on 9.06.  The API it is complaining about:

https://www.ghostscript.com/doc/current/API.htm#set_arg_encoding

does not exist in 9.06:

https://www.ghostscript.com/doc/9.06/API.htm

Compiling 9.21 resolved the

[2017-11-21 19:50] briva opened #28 "ghostscript4js and docker compatibility"
This is my docker file :

I got this message when i launch the container.

node dist

I try the install in a clean Ubuntu VM and i didnt get this message. It works well.

[2017-11-21 21:06] NickNaso commented on #28
Hi @briva ,
before the execution of ```npm install``` try to install **node-gyp** globally as reported below:

```npm install -g node-gyp```

Hope that this will work for you.

Nick

[2017-11-21 22:08] briva commented on #28
Just added that but i got this when i build the docker container :

[2017-11-21 22:29] briva commented on #28
Still the same issue :

[2017-12-08 14:58] NickNaso opened #29 "N-API porting of ghostscript4js"
I think that we can start to port **ghostscript4js** to N-API and after that go forward to add the new requested features that end user requested us.
I will provide to create a new branch **node-addon-api** to start the porting.

[2018-02-20 16:06] letalumil opened #30 "Empty output with when using pdfwrite"
Hello! Thanks for the great package, it looks promising, but something doesn't work well in my case.

I'm trying to convert a PostScript file to PDF via the following command: `-sDEVICE=pdfwrite -o out.pdf -f in.ps`. So, nothing fancy, all params are the default.

If I execute it in shell directly this way: `gs -sDEVICE=pdfwrite -o out.pdf -f in.ps`, then everything works well and the `out.pdf` is

[2018-02-21 11:00] GautierT commented on #30
I have the same error.
No output file. And no error.

[2018-02-21 17:56] NickNaso commented on #30
Hi @GautierT and @letalumil,
thanks for your feedback I will work on that on the weekend and hope to release new version that solve the problem. To test I will use the sample ps file posted by @letalumil.

[2018-02-21 21:30] NickNaso commented on #30
Hi @letalumil and @GautierT ,
I replicated your problems and for now I found this solution:

[code]
It worked for me, please try it and send me feedback.

[2018-02-22 13:20] letalumil commented on #30
Hi @NickNaso,
I just tried the modified command and it works well now.

Thank you for the quick help!

[2018-02-22 13:36] GautierT commented on #30
Works for me too
[code]

[2018-02-22 13:42] NickNaso commented on #30
Hi @letalumil and @letalumil ,
good to hear. So next days I provide to close the issue.
Have a nice day.

[2018-02-24 12:54] #30 closed

[2018-03-22 15:31] NickNaso commented on #29
Just ended the port of version 2.0.7 to N-API

[2018-03-22 15:31] #29 closed

[2018-03-22 15:32] NickNaso commented on #27
Update the supported version to Ghostscript 9.22. All works fine.

[2018-03-22 15:32] #27 closed

[2018-03-28 08:16] lukassteiner opened #32 "Suppress console output"
Is there a way to suppress the console output of ghostscript?
When I convert a pdf to jpg like this:
[code]

I get this output in the console:

Copyright (C) 2017 Artifex Software, Inc.  All rights reserved.
This software comes with NO WARRANTY: see the file PUBLIC for details.
Processing pages 1 through 2.
Page 1
Page 2

When I use the gs command directly, I usually just add the "-q" flag.

[2018-03-28 08:46] NickNaso commented on #32
Hi @lukassteiner,
try to execute this command
[code]
It should solve your problem.  Send me a feedback if it works for you.

[2018-03-28 12:28] lukassteiner commented on #32
Hi @NickNaso
Thanks a lot for the command! This works very well.

I just have a case with a specific pdf where I get this output even with your command:

               Output may be incorrect.
   **** Error: stream operator isn't terminated by valid EOL.
               Output may be incorrect.
   **** Error: stream operator isn't terminated by valid EOL.
               Output may be incorrect.

[2018-03-28 13:00] NickNaso commented on #32
Hi @lukassteiner,
I just received your pdf and in next couple of days I will investigate the reasons behind your error and I will answer here.

[2018-04-18 09:56] letalumil opened #33 "undefinedfilename error on Windows if file path contains spaces"
Let's assume we have these input and output file paths:
[code]
And we try to convert the pdf this way:
[code]
Or that way (quotes around the paths):
[code]

In boths cases the operation fails with corresponding errors:
[code]
And
[code]

If I remove the space in the `Test folder` name and run the command without quotes around paths, then everything works. If The folder is renamed, but the quotes a

[2018-04-18 10:08] letalumil commented on #33
Just to add some more info regarding the problem. I tried to execute the commands above via `gswin64.exe` in the command line.

This one fails:
[code]

This one works well:
[code]

[2018-04-18 17:59] NickNaso commented on #33
Hi @letalumil ,
thanks for your feedback for sure I will try to fix it in next days. I think that the problem is in the parsing of the Ghostscript comand on the C/C++ side.

[2018-04-20 10:06] Prinzhorn commented on #25
This might not be obvious to everyone, you can create a Docker container based on Debian stretch instead of jessie. Stretch comes with ghostscript 9.20.

In my case my Dockerfile changed

before

[code]

after

[code]

[2018-04-20 10:47] NickNaso commented on #25
@Prinzhorn Yes you are right. Do you think that if I document it could be helpful? If you want you can create a section on docs and explain how to use the module with Docker. We are trying to work on the module to avoid all these problems and to do that we are integrating the source code of Ghostscript and compile it directly from the module, so at the end you don't need to install it previously o

[2018-04-20 12:55] Prinzhorn commented on #25
@NickNaso I've added the Docker example

I honestly don't know what the best approach with native node modules is. But installing a consistent and tested version alongside the module from npm would be great, otherwise you never know what's on the host system.

[2018-04-20 13:14] 03eltond commented on #25
I like the idea of including the module personally, but I'm just some guy on the internet :)

[2018-06-27 02:48] george-g commented on #33
Hello!
I made  pull request #35 for this bug.

[2018-06-27 08:44] NickNaso commented on #33
Hi @george-g I saw and thank you for your work. Now I'm out but your code seems good. Did you  test on Windows machine?

[2018-07-03 16:10] george-g commented on #33
Yes, I did. I made this fix on Windows )

[2018-07-04 22:32] NickNaso commented on #28
@briva Sorry if I didn't update this issue, but now there's a guide on documentation to use the module with docker. See: https://github.com/NickNaso/ghostscript4js#docker
Now I will provide to close the issue, but feel free to reopen if you have other problems.

[2018-07-04 22:32] #28 closed

[2018-07-09 03:50] freewil commented on #32
I'm having a similar issue where I have GS repair corrupted PDFs. It'd be great to find a way to suppress this:

[code]

[2018-07-09 17:42] NickNaso commented on #32
Hi @freewil,
do you obtain this error only the addon? Could you try to execute the command directly with the ghostscript command line over the same file and report if you obtain the same error? Thank you.

[2018-07-09 19:30] freewil commented on #32
@NickNaso I receive the error when running it with the addon via node and via the command-line directly from my shell. From my shell, I can confirm GS is outputting the error/warning to stdout. Since GS is processing a corrupted PDF, it's to be expected that it outputs the "error" or "warning" while processing. GS still successfully creates the output PDF, it's really just a warning, but it would

[2018-07-10 10:05] NickNaso commented on #32
Hi @freewil,
thanks for your feedback now I'm sure that the problem is in the redirection of the stream. In the next days I need to investigate how to do that.

[2018-07-10 20:50] NickNaso opened #36 "Improvements"
Start on experiment to solve all issues and improve performance and functionalities

- [ ] Try to share the instance of Ghostscript and avoid to initialise and destroy every time. Try to use object wrap api to accomplish this.
- [ ] Use the Node.js stream  API to pass the data to process to Ghostscript. Investigate if this could cause problem in particular with the asynchronous api
- [ ] Improve e

[2018-10-10 12:49] daton89 opened #37 "spot color layer completely black using tiffsep"
Hi @NickNaso

thank you for this awesome work, it is really useful, but i had a problem that i guess is a bug.

When I try to use the tiffsep sDevice option some of the layers that are spot color are generated completely black.

I don't know the cause but if I try to run the same command in the shell it works.

[code]

[2018-10-11 04:36] NickNaso commented on #37
Hi @daton89,
you need to remove the quotation marks from the path of the pdf file and use one of the command reported in the example below:

[code]
I think that this should solve your problem. Keep me updated about this.

[2018-10-11 07:03] daton89 commented on #37
Hi @NickNaso,

unfortunately it doesn't work.

Thanks

[2018-10-17 14:52] GautierT opened #38 "Can't install ghostscript4js. Crash on node-gyp rebuild"
Hi,
After deleting my node_modules and updating some packages i have some trouble re-installing ghostscript4js.
When i do `npm install`
i have this result :
[code]

[2018-10-17 22:54] NickNaso commented on #38
Hi @GautierT ,
sometimes happen with nvm so try to clean the folder `.node-gyp` it should be in the home directory on your macOS `/Users/your-user/.node-gyp`. Delete everything in the folder and try again to reinstall the module.
Keep me updated.

[2018-10-18 07:01] GautierT commented on #38
Thanks @NickNaso . I deleted the `.node-gyp` folder but i think it was something related to python. I had to install python2 and set it as a default for npm.

[2018-10-18 07:01] #38 closed

[2018-11-12 04:11] minhnhatspk opened #39 "spaces"
As discussion https://stackoverflow.com/questions/42578061/ghostscript-and-spaces-in-filenames
I see that on the version 3.0.0 you already resolved this problem, but I'm using electron and after updating to v3.0.0 I got some problem.
so how can I fix this error without updating version to 3.0.0?
I'm using v2.0.7.

[2018-11-12 10:43] NickNaso commented on #39
Hi @minhnhatspk,
the version 3.0.0 uses N-API and I can say that with some version of electron we there are some issues with N-API. I solved the space problem in version 3.0.0 because I added a new way to set parameter to pass at execute function like an array.
I'm interested on knowing the error that you get when use the version 3.0.0 with electron. Could you post it here?

[2018-11-12 10:53] minhnhatspk commented on #39
Here is the error I got
![image](https://user-images.githubusercontent.com/21996261/48342791-36e78380-e6a3-11e8-8d69-c246540b8887.png)
ghostscript4js v3.0.0
electron v1.8.8
It also occurs the same error when I add --napi-modules to my command.

[2018-11-12 11:05] NickNaso commented on #39
Do you know which version of Node.js embed the version of electron you are using?

[2018-11-12 14:21] minhnhatspk commented on #39
I'm using Node.js version 8.12.0

[2019-03-17 21:21] #37 closed

[2019-03-17 22:48] NickNaso opened #42 "New release 3.1.0"
Create new release with fixes about error handling.

[2019-03-18 09:40] NickNaso commented on #42
I'm closing the issue because the version 3.1.0 has been released.

[2019-03-18 09:40] #42 closed

[2019-05-08 17:14] GuiJordao21 opened #43 "-dNOPAUSE not working"
Even if i pass this flag, my program still waits for the <return> key to be pressed. Did someone have the same problem?

[2019-05-08 18:19] NickNaso commented on #43
Hi @GuiJordao21 ,
could you report which version of Node.js and Ghostscript you are using?

[2019-05-08 18:49] GuiJordao21 commented on #43
GPL Ghostscript 9.26 (2018-11-20)
node -v 10.15.3

I used the sample code on documentation. when I run the same cmd on bash, everything works fine.

[2019-05-08 21:21] NickNaso commented on #43
@GuiJordao21 could you try to execute the following code?

[code]

[2019-05-09 12:15] GuiJordao21 commented on #43
Sorry for the delay.

This worked fine, but some pictures are diferente of what I was expecting and I think is because of pngalpha. Don't really know the diference between this one and png16m though.

But why this worked and the other code snippet doesn't?

[2019-05-14 20:28] tealwren commented on #32
I have this issue with one PDF as well.  Is there a solution?

[2019-06-17 14:04] glococo commented on #26
Hi,

Is the buffer option available ?
I want to process a buffer (coming from an url with fetch.buffer() ), compress a PDF and output to another buffer.

Is that possible ?

[2019-06-25 02:45] crapthings opened #44 "node-gyp rebuild failed"
osx
brew install ghostscript
node 8.16

GS4JS_HOME=/usr/local/lib

node-gyp rebuild

[code]

[2019-06-25 04:06] crapthings opened #45 "where gs output converted file?"
i can't find it anywhere?

[code]

docker-compose.yml

[code]

but it looks nothing there.

![image](https://user-images.githubusercontent.com/1147704/60068517-b2350b80-9741-11e9-82c4-f71de299ac52.png)

the output looks fine

[2019-06-25 20:14] NickNaso commented on #44
Hi @crapthings,
you get linker error because in your system seems that `libgs.dylib` is not installe din the default path for macOS system.
I saw that you installed ghostscript through **brew** so you have the library that you need at path similar to this: `/usr/local/Cellar/ghostscript/<FOLDER THAT REPRESENT THE INSTALLED VERSION>/lib`.
Example:  `/usr/local/Cellar/ghostscript/9.26_1/lib`
Now the

[2019-06-25 20:35] NickNaso commented on #26
Hi @glococo,
it's not possible pass buffer or stream for now.

[2019-06-25 20:43] NickNaso commented on #45
Hi @crapthings,
your file should be in  the folder `/usr/pdf2image/convert/`. Could you send your complete `docker-compose.yml` and `Dockerfile`, maybe I could help you in better way.

[2019-06-26 01:19] crapthings commented on #45
[code]

[code]

[code]

there're no errors, and execute tells me all is okay

i run into docker container to exec same cmd with

[code]

the files are there.

[2019-06-26 01:33] #44 closed

[2019-06-26 01:43] crapthings commented on #45
@NickNaso

after this issue #44
i can now run script on osx, but its still same like inside docker

can't find output file, the convert progress seems super fast, it knows how many page are there.

but run same cmd with terminal with gs is okay.

[2019-06-26 01:57] crapthings commented on #45
ah okay i think i've found the problem

work
[code]

no working with js, but works with terminal
[code]

[2019-06-26 01:57] #45 closed

[2019-06-26 02:37] crapthings commented on #7
any possible to make this concurrent?

[2019-08-28 11:22] hamzashezad opened #47 "Segmentation fault on multiple runs"
OS: macOS 10.14.5
Node version: 10.15.3
Ghostscript version: 9.27 (2019-04-04)
Electron version: 5.0.7
Ghostscript4js version: 3.1.1

I am converting postscript files to text files using the following:

[code]

It works the first time but my electron application crashes when I try to convert a second file.

The command runs fine on bash but gives a segmentation fault when I run it on Node REPL:

[

[2019-09-26 03:45] bbqaaq opened #48 "Ghostscript version from homebrew is too new"
Close

[2019-09-26 09:00] bbqaaq commented on #48
Please close this issue, I have made something wrong

[2019-09-26 09:00] NickNaso commented on #48
Hi @bbqaaq,

If you install `ghostscript` through **homebrew** the entire solution is in this following folder:
`/usr/local/Cellar/ghostscript/{VERSION}/` the most simple thing to do is to create a symbolic link in `/usr/local/lib` that point to  `/usr/local/Cellar/ghostscript/{VERSION}/lib/libgs.dylib`.
Hope that this will help you.

[2019-09-26 09:01] NickNaso commented on #48
Ok I provide to close feel free to open new issue if you need other help.

[2019-09-26 09:01] #48 closed

[2019-09-26 09:29] bbqaaq commented on #48
@NickNaso Sorry that I have made sth wrong.
Turn out the problem can be solved by reinstalling the package.

But I found that another issue #47 happens on my side too, as Im using 9.27 also.
See if that issue is related to gs 9.27 with ghostscript4js.

Thanks!

[2019-10-21 12:41] BoxSo commented on #47
I see this happening on windows 10 with ghostscript 9.27 too. First run works like a charm, second run crashes app without any feedback.

[2019-10-25 12:54] GautierT commented on #47
Same problem. first run is okay second run crash the app without any feedback.
`Ghostscript.version()` :
[code]

[2019-12-17 19:32] MySendingBox commented on #47
Hi @NickNaso
Do you have an idea how to fix this ? Or how to downgrade to 9.22 on macos (installed from brew) ?
I have only one version in `/usr/local/Cellar/ghostscript/` and it's 9.50.

Thanks !

[2019-12-17 19:33] GautierT commented on #47
Hi @NickNaso
Do you have an idea how to fix this ? Or how to downgrade to 9.22 on macos (installed from brew) ?
I have only one version in /usr/local/Cellar/ghostscript/ and it's 9.50.

Thanks !

[2020-02-09 02:08] luco commented on #47
+1 on this on mac. On the second run it gives me
`[1]    89399 segmentation fault  node --inspect index.js`

@NickNaso thoughts?

[2020-02-09 11:35] daton89 opened #49 "execution stop with: double free or corruption (fasttop)"
Hi nick,

I try to run the execute with tiffsep and sometimes it works and sometimes I get an error: `double free or corruption (fasttop)`

[code]

Unfortunately when this happens the package only shows the error in the console but I'm not able to intercept it in a try-catch.

I'm running Node 8.16.2 on Fedora 31
GPL Ghostscript 9.27 (2019-04-04)
"ghostscript4js": "^3.1.1",

[2020-02-19 09:45] papuruth opened #50 "Error when calling gs.executeSync"
(index):125 Uncaught Error: Sorry error happened executing Ghostscript command. Error code: -100
    at Object.executeSync (E:\Adstream\ReactElectronApp\QPPElectron\qpp\node_modules\ghostscript4js\lib\ghostscript4js.js:56)
    at EventEmitter.ipcRenderer.on ((index):119)
    at EventEmitter.emit (events.js:182)
[code]
args: path of pdf file

[2020-02-20 19:22] NickNaso commented on #50
Hi @papuruth,
we are working on a new updates for `ghostscript4js`. Cold you say if you obtain the error you reported after one single call of `executeSync` or maybe it is happen when you try to execute it multiple times?

[2020-02-20 19:24] #36 closed

[2020-02-20 19:25] #25 closed

[2020-02-20 19:25] #26 closed

[2020-02-20 19:26] #32 closed

[2020-02-20 19:26] #39 closed

[2020-02-20 19:27] #43 closed

[2020-02-24 09:24] NickNaso opened #51 "Release 3.2.0"
The release `3.2.0` will contains updates to solve the following issues:
- [x] Segmentation fault on multiple runs - Fix issue [#47](https://github.com/NickNaso/ghostscript4js/issues/47)
- [x] Execution stop with: double free or corruption - Fix issue [#49](https://github.com/NickNaso/ghostscript4js/issues/49)
- [x] Error when calling gs.executeSync - Fix issue [#50](https://github.com/NickNaso/gh

[2020-02-24 09:49] NickNaso commented on #47
Hi everybody,
I'm closing the issue because the release `3.2.0` should solve the problem.

[2020-02-24 09:49] #47 closed

[2020-02-24 09:49] NickNaso commented on #50
Hi everybody,
I'm closing the issue because the release `3.2.0` should solve the problem.

[2020-02-24 09:49] #50 closed

[2020-02-24 09:50] NickNaso commented on #49
Hi everybody,
I'm closing the issue because the release `3.2.0` should solve the problem.

[2020-02-24 09:50] #49 closed

[2020-02-24 09:50] NickNaso commented on #51
I'm closing the issue because the version `v3.2.0` has been released.

[2020-02-24 09:50] #51 closed

[2020-03-01 22:22] kamal0808 commented on #45
@crapthings can you explain why putting in the -sDEVICE twice works but doesn't work when put once?

[2020-03-03 03:04] naren8642 opened #52 "GS error not caught by js code"
I am trying to handle a GS font error gracefully. So I tried ghostscript4js. WHen I ran it on a document that i know has a font issue, this was not handled by the library. Here is the output for reference. I am using the example provided on the readme using the callback. It just prints 'All is OK'

(node:2270) Warning: N-API is an experimental feature and could change at any time.
GPL Ghostscript

[2020-03-03 03:48] lukassteiner commented on #32
Is this fixed in the newest release @NickNaso ?

[2020-03-09 10:58] arthabus opened #53 "firebase nodejs: /usr/lib/x86_64-linux-gnu/libgs.so: No such file or directory"
Hi,

I'm getting this error when I try to deploy to firebase nodejs - any input on what I'm missing is much appreciated:

[code]

I was trying to override --GS4JS_HOME but then it fails during the `npm install ghostscript-js`.

[2020-03-09 11:50] NickNaso commented on #53
Hi @arthabus,
I don't know firebase, but I think that the problem is that in your production environment you don't have the **ghostscript** installed. The installation process try to link the ghostscript library using the default  path `/usr/lib/x86_64-linux-gnu/libgs.so`.
You can use two environment variables:
- GS4JS_HOME is path the where ghostscript library is installed. Usually in `/usr/lib/x

[2020-03-09 12:07] arthabus commented on #53
@NickNaso thanks. Yes, I guess the problem is that it's not installed.

And sorry for the dumb question but till today I was only using node with npm - this is how I installed any needed modules so far. So how do I install ghostscript to node?  Any article or how to google it would be very helpful. I know I'm missing something fundamental here...

[2020-04-06 18:28] konlikha commented on #53
@NickNaso Hey brother,

This library can be really usefull for firebase and aws lambada users.
I am using firebase and the available options for gs is not updated for a while (like available gs version is best at 9.2)
See this [Ghostscript Firebase Functions ] on stackoverflow as with available library using -c (postscript command) is not possible for a reason.

If you can modify the installation

[2020-04-06 18:38] konlikha opened #55 "Support For firebase functions ?"
@NickNaso Hey brother,

This library can be really usefull for firebase and aws lambada users.
I am using firebase and the available options for gs is not updated for a while (like available gs version is best at 9.2)
See this [Ghostscript Firebase Functions ](https://stackoverflow.com/questions/61000236/gs-firebase-function-cant-set-offset)  on stackoverflow as with available library using -c (po

[2020-04-07 12:32] NickNaso commented on #55
Hi @konlikha,
you are right the library could be useful in a serverless environment. The things for **ghostscript4js** are different from **node-gs**. What I'm trying to do is to create a process to build ghostscript like a shared library and then use that library on **ghostscript4js**  folder so the installation process will use this  library. There are many aspects to consider:
- Create a librar

[2020-04-07 12:39] NickNaso commented on #53
Hi @arthabus,
sorry for the late in response to you. To allow you to easily use **ghostscript4js**  on serverless environment I need to make all the tasks that I discussed here: https://github.com/NickNaso/ghostscript4js/issues/55#issuecomment-610359219
Maybe a simple workaround could be to build **ghostscript** library and put it on ta folder inside of your project then you can set the environmen

[2020-04-07 14:16] konlikha commented on #55
@NickNaso hii nick thank your for your
response.

I think the way to make this support serverless is that don't link it to system variables and look for so/executable files provided by user in gs4js call .

For example this is v9.52 prebuild
https://www.archlinux.org/packages/extra/x86_64/ghostscript/

This contains a lib folder where .so files are located.
I Don't have much info on which files ar

[2020-04-19 12:11] tvr3000 opened #56 "Install on MacOS 10.14.6 fails with"
Install on MacOS 10.14.6 fails. I have tried reinstalling ghostscript, installed node-gyp, Mac OSX developertools, but I can't get it to work. Any suggestions would be welcome....

`npm install ghostscript4js` fails with the following errors

[code]

[2020-04-28 14:14] konlikha commented on #55
Hey @NickNaso Any updates on it ? I have been waiting for your reply...
I think looking for executables in user provided location would make it work like 'gs.path("path to exutable here"). execute'

Waiting for your reply again..
Hope it this time it will not be month

[2020-07-15 17:42] ViieeS commented on #26
@NickNaso any progress or maybe workarounds how to make it work with buffer or stream?

@santillaner can you provide working snippet, please?

[2020-07-15 18:55] ViieeS opened #57 "Empty output file"
[code]

This script gives me empty output file. If I don't create it using `fs.open` I receive an error: `[Error: ENOENT: no such file or directory`

[2020-07-15 20:58] ViieeS commented on #57
Looks like I figured it out, I missed `-q` param:

`const cmd = `-q -sDEVICE=pdfwrite -dPDFSETTINGS=/screen -dCompatibilityLevel=1.4 -dNOPAUSE -dQUIET -dBATCH -o ${outFile} ${inFile}`;`

[2020-07-15 20:58] #57 closed

[2020-07-16 11:09] adityapatadia opened #58 "Support for buffer input and output"
This library seems to support files on disk. Is there any plan to support buffer as input and output files?

[2020-07-29 00:21] Alcoine opened #59 ".execute()\.executeSync() functions are ignoring the first parameter"
Hi there!
I'm trying to execute gs with the following properties `-r500 -dNOPAUSE -sDEVICE=png16m -dBATCH -o <path> <path>` and I constantly getting a low resolution images. After a couple of hours, I figure out that .execute() function ignoring the first parameter (in that case -r500). I've changed the order to the following `-dNOPAUSE -r500  -sDEVICE=png16m -dBATCH -o <path> <path>` and the imag

[2020-08-10 09:00] duzenko opened #60 "Error during npm installation"
I have installed the 32-bit version of GH 9.20 but the npm package fails to install, seemingly requiring the 64-bit files?

[code]

[2020-08-25 03:36] choudhurym commented on #32
I happen to have the same issue as @freewil. Did anyone able to find the root cause and how to resolve this issue?

[2020-08-25 04:39] choudhurym commented on #32
I was able to work around to fix this issue. Hopefully, it will solve yours. Identify the pdf which throws the below error
`**** Error: Encountered 'obj' while expecting 'endobj'.
        Treating this as a missing 'endobj', output may be incorrect.`

Then fix the pdf separately using the below command:
`gs -o gs-repaired---35.pdf -dPDFSETTINGS=/prepress -sDEVICE=pdfwrite 35.pdf`

[2020-08-26 11:47] svrnwnsch commented on #59
I can confirm that for me the first flag is ignored therefore I double the first flag. I would assume that this has to do something with the c code here https://github.com/NickNaso/ghostscript4js/blob/487c784244274cd4f19140dee774e83098f29296/src/ghostscript4js.cc#L78 which has as the first argument some integer.

[2020-09-13 14:17] adityapatadia commented on #58
@NickNaso any thoughts on this?

[2020-09-14 13:33] Aarbel opened #61 "Feature Request: install without installing ghoscript"
Is there a way to include ghotscript lib with this package ?

Goal: use serverless functions easily with this lib 9hard to install apt-get packages on serverless node environnements)

[2020-09-16 13:49] adityapatadia commented on #58
@NickNaso I can fund development of this functionality if you have time availability. Please let me know.

[2020-09-24 15:07] Zloka commented on #59
Yeah, this seems to be the case for me too. Not exactly hard to work around, but can cause quite a bit of confusion depending on what the first flag is. In my case, `-dNOPAUSE` was ignored, which is quite crucial for my use-case.

[2020-09-26 15:17] Zloka opened #62 "Can Dockerfile use a later version of the node engine?"

[2020-09-26 15:19] Zloka opened #63 "Can Dockerfile use a later version of the node engine?"
The `Dockerfile` includes the following comment:
`# Official Node.js 8.x lts image based on Debian stretch (has ghostscript 9.20 in its archive)`

Is it not in the archive of later versions? A bit new to this, so how could I go about verifying this myself? :)

[2020-09-26 15:20] Zloka commented on #62
Browser refresh caused a duplicate, my apologies.

[2020-09-26 15:20] #62 closed

[2021-02-21 20:16] Tschuss69 commented on #56
Did you find a solution ?

[2021-03-01 18:34] peterzanetti opened #64 "Install failing"
Hello, I am trying to install on Amazon Linux 2 and have followed the prerequisites. This is the error when installing:

make: Entering directory `/home/ec2-user/fileshare/node_modules/ghostscript4js/build'
  CC(target) Release/obj.target/nothing/../node-addon-api/src/nothing.o
make: cc: Command not found
make: *** [Release/obj.target/nothing/../node-addon-api/src/nothing.o] Error 127
make: Leavin

[2021-03-01 18:55] NickNaso commented on #64
Hi @peterzanetti,
from the error seems that you need to install all the toolchain to compile C / C++ code on your linux machine like `make` and `gcc`.
I found this guide https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/compile-software.html I hope that this help you. Let meknow if this solve your problem.

[2021-03-01 19:08] peterzanetti commented on #64
Thank you for that suggestion. I have installed the build tools and it looks I get a new error now:

make: Entering directory `/home/ec2-user/fileshare/node_modules/ghostscript4js/build'
  CC(target) Release/obj.target/nothing/../node-addon-api/src/nothing.o
  AR(target) Release/obj.target/../node-addon-api/src/nothing.a
  COPY Release/nothing.a
  CXX(target) Release/obj.target/ghostscript4js/src/

[2021-03-01 19:11] peterzanetti commented on #64
I am able to find /usr/lib64/libgs.so on this system, so I assume there is an issue with nonexistence of /usr/lib/x86_64-linux-gnu/libgs.so ?

[2021-03-01 19:58] NickNaso commented on #64
Could you try to create a symbolic link `ln -s /usr/lib64/libgs.so /usr/lib/x86_64-linux-gnu/libgs.so` and the try to install?

[2021-03-01 21:06] peterzanetti commented on #64
Actually what I did was create a global ENV by creating this file:
/etc/profiles.d/ghost.sh
export GS4JS_HOME="/usr/lib64"

Then I was able to install successfully.

Thank you for your help!

[2021-03-12 11:22] NickNaso commented on #64
I'm closing the issue because it seems that you solved the problem. Feel free to reopen in case you continue to have the same problem.

[2021-03-12 11:22] #64 closed

[2021-04-12 09:11] frbuceta commented on #56
10.15.7 too, with node 15

[2021-04-12 09:15] frbuceta commented on #56
If you install ghostscript on the OS the problem disappears. I have solved it like this

[2021-06-16 15:55] kaldebert opened #65 "Cannot f"
Is it possible to use `ghostscript4js` and `ghostscript` in a serverless environment as AWS Lambda (and Layers)?

I tried to install both `ghostscript4js` and `ghostscript` from a Dockerfile to be uploaded in a AWS Layer (Lambda).
[code]

But when the AWS Lambda is called, I got this error:
[code]

Where should be the `libgs` file during the runtime?
In the GS4JS_HOME folder or is it copied in ano

[2021-06-16 22:44] NickNaso commented on #65
Hi @kaldebert,
it search the library `libgs.so` in the folder you set using the evn variable `GS4JS_HOME`. When the module is loaded it needs to load the shared library `libgs.so` otherwise you get the error you reported, An idea could be to copy the library in the folder of your project and the try to install it.
Es.
The folder for your project is `my-project` and you copy the content of the fold

[2022-02-08 00:44] mitchellbusby opened #66 "Usage with M1 / Apple Silicon"
Several members of my team (myself included) have been having issues with ghostscript4js on Apple Silicon Macs. Even when installed and configured (symlinked) correctly, we get the message:
`dyld[7981]: missing symbol called`

I notice that this is not an issue with Ghostscript itself, but I suspect in the linker code between it and NodeJS.

I also notice in the npm postinstall logs that this is l

[2022-02-09 16:00] NickNaso commented on #66
Hi @mitchellbusby,
could you try to use `Node.js v16`? Today after some debug I found that with M1 / Apple Silicon some `cflags` are set to `-arch x86_64` instead of `-arch arm64`. Now I'm trying to find a solution to patch the `binding.gyp` file. Please let me know if the switch to Node,js v16 or above solve the problem.

[2022-02-11 00:41] mitchellbusby commented on #66
Hi @NickNaso!

That's quite interesting! I have tried doing a clean node modules install under Node 16 (using 16.14 via nvm). That seems to have not resolved the issue 😓 I still get the issue:

[code]

[2022-02-11 08:50] nishantlnmiit commented on #26
Hi @NickNaso,

Do we have buffer option available in ghostscript ?
I have a pdf buffer, want to compress and return compressed pdf buffer as response.

Is that possible ?

It would be very helpful for me.

Please help me on this.

[2022-02-23 10:53] xegulon commented on #58
Yeah it'd be great

[2022-07-07 16:00] mason-smith commented on #56
Not 100% pertinent to MacOS 10.14.6, but if anybody else comes across this, you may also want to check your current Python version. I updated my OS (Monterey 12.3) a few months ago which [removed Python 2.7](https://developer.apple.com/documentation/macos-release-notes/macos-12_3-release-notes) so I had to manually reinstall the correct version which got me up and running again.